#box1{
    float:left;
    width:60%;
    height: 545px;
    margin-right:10px;
    margin-bottom:40px;
    overflow: auto;
}
#box2{
    float:right;
    width:35%;
    height: 760px;
    overflow-y: auto;
}
#box3{
    float:left;
    width:60%;
    height: 175px;
    margin-right:10px;
    background-color:#dce6ea;
}

.box{
    position: relative;
    vertical-align: top;
    background-color: #ffffff;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

h3{
    width:100%;
    height:70px;
    line-height:70px;
    text-align: center;
    color: #2a3a83;
    font-size:30px;
}

table tbody{
    border: 1px solid #dce6ea;
    border-radius: 10px;
}
.seta{
    width:10px;
    height:10px;
    float:right;
    color: #9fa7ee;
}
.detalhes{
    display:none;
    overflow: hidden;
}
.contato{
    width:30%;
    display:inline-block;
    border-right:1px solid #fff;
    text-align:center;
    font-size:15px;
    color:#535353;
}
.contato:last-child{
    border-right:0px;
}
.contato hr{
    margin: 0px auto;
    width: 20%;
    border-color: #6593e7;
}

.representante{
    position: relative;
    max-width: 300px;
    width: 100%;
    height: 175px;
    border-radius: 10px;
    background-color: #f8fafb;
    border: 1px solid #dce6ea;
    margin: 20px auto;
    padding: 10px 10px 10px 90px;
}
.representante .rep_img{
    position: absolute;
    width: 100px;
    height: 100px;
    left: -20px;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    margin: auto;
}
.representante span{
    font-size: 12px;
    color: #545454;
    width: 100%;
    display: inline-block;
    text-align: left;
}
.representante h5{
    font-size: 30px;
    color: #535353;
    text-align: left;
    width: 100%;
}
.representante p{
    margin:0px;
}
.representante a{
    text-decoration: none;
    font-size: 15px;
    color: #545454;
    display: block;
    width: 100%;
    text-align: left;
}
